<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bgtech.oauthserver.dao.UserMapper">

    <resultMap id="userRoleMap" type="com.bgtech.oauthserver.domain.dto.MallUserDto">
        <id property="uid" column="uid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="com.bgtech.oauthserver.domain.dto.RoleDto">
            <id property="rid" column="rid"/>
            <result property="role" column="role"></result>
        </collection>
    </resultMap>
    <select id="selectUserByUserName" resultMap="userRoleMap">
        SELECT u.uid, u.username, r.role
        FROM biz_role r, biz_user u, biz_user_role ur
        WHERE u.uid = ur.uid AND ur.rid = r.rid AND u.username = #{username}
    </select>
</mapper>
